{
    "printWidth": 9999,
    "proseWrap": "never",
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        }
    ]
}
